body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.navbar {
    background-color: #007bff;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.navbar div {
    cursor: pointer;
}
.sidebar {
    background-color: #f1f1f1;
    padding: 10px;
    width: 200px; 
}
.sidebar button {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    display: none; 
}
.main {
    flex-grow: 1;
    display: flex;
}
.content {
    padding: 20px;
    flex-grow: 1;
}
.file-drop-area {
    border: 2px dashed #ccc;
    padding: 400px;
    text-align: center;
    margin-bottom: 10px;
}
.options {
    margin-bottom: 10px;
}
.submit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    bottom: 10px;
    right: 10px;
}
.main-title {
    text-align: center;
    background-color: #b700ff;
    color: white;
    padding: 10px;
    margin: 0;
}

/* 添加拖放区域的样式 */
#fileDropArea {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#fileDropArea.dragover {
    background-color: #f0f0f0; /* 拖放时的背景颜色 */
}


/* 添加固定区域的样式 */
#fixedArea {
    margin-top: 20px; /* 调整与拖放区域的间距 */
    text-align: center;
    width: 100%; /* 固定区域宽度 */
    max-height: 100%; /* 设置最大高度为视口高度 */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto; /* 允许区域滚动 */
}

#fixedArea img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* 保持原始宽高比，适应区域 */
}

#fixedArea canvas {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* 如果你希望canvas保持原始宽高比 */
}

/***********************************yyx↓**************************************/
.label {
    border: 1px solid black; /* 添加黑色边框 */
    border-radius: 5px;
    padding: 2px 5px;
    display: inline-block; /* 设置为内联块级元素，宽度将自适应文本内容 */
    margin-right: 5px; /* 可以添加适当的右边距以分隔标签 */
    margin-top: 10px;
    background-color: transparent; /* 设置背景色为透明 */
    color: black;
}

.label-list {
    display: flex;
    flex-wrap: wrap;
}

.label-item {
    margin-right: 10px; /* 控制标签之间的间距 */
}

.label-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter-delete-container {
    display: flex;
    align-items: center;
}

#deleteSelectedButton {
    margin-left: 10px; /* 控制删除按钮与筛选框之间的间距 */
    margin-right: 10px;
}

.label-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter-add-delete-container {
    display: flex;
    align-items: center;
}

#addNewLabelButton {
    margin-left: 5px;
    margin-right: 10px;
}

.label-add-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#addSelectedButton {
    margin-left: 5px;
    margin-right: 10px;
}

/* 通用按钮样式 */
.lbbutton {
    background-color: #007bff;
    color: white;
    padding: 3px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/***********************************yyx↑**************************************/
